<body>
<h1><%= content_for(:title, "Title for specific page") %></h1>
<h1>Spotify Unlocked!</h1>
<p>
Welcome! Spotify Unlocked is a personal project created by Christian and James Doucette to provide users with meaningful data and automatic tools to improve their Spotify experience. Enjoy!
</p>



</body>
