<body>
<h1><%= content_for(:title, "Title for specific page") %></h1>
<h1>Spotify, Unlocked.</h1>
<p>
Welcome! Spotify Unlocked is a personal project created by Christian and James Doucette. You can:
<ul>
  <li>Get detailed information about any song, artist or album on Spotify</li>
  <li>See Spotify user data, including hidden gems, highest energy favorite songs, and more</li>
  <li>Get the chords using chord recognition from pitch vectors</li>
  <li>Get song recommendations based off specific qualities (in progess)</li>
</ul>
</p>



</body>
