<body>
<h1>Recommendations</h1>
<p>Enter five of your favorite workout songs.<br>
  Then hit the button to get a list of similar tracks, filtering out everything but high energy songs.</p>
<form action="/recommendations_display" method="get">
    <input autocomplete="off" type="text" name="song1_from_query" placeholder="Song 1" required><br><br>
    <input autocomplete="off" type="text" name="song2_from_query" placeholder="Song 2" required><br><br>
    <input autocomplete="off" type="text" name="song3_from_query" placeholder="Song 3" required><br><br>
    <input autocomplete="off" type="text" name="song4_from_query" placeholder="Song 4" required><br><br>
    <input autocomplete="off" type="text" name="song5_from_query" placeholder="Song 5" required><br><br>
    <button class="btn btn-primary" type="submit"">Get Recommendations</button>
</form>


</body>
