<body>
<h1><%= content_for(:title, "Title for specific page") %></h1>

<h1>All Time Top Songs</h1>

<ol>
  <% @top_tracks.each do |track| %>
    <li><a href="/song_data/<%= track.id%>"><%= track.name %></a></li>
  <% end %>
</ol>

</body>
