<body>
<h1><%= content_for(:title, "Title for specific page") %></h1>

<h1>All Time Top Artists</h1>
<ol>
  <% @top_artists.each do |artist| %>
    <li><a href="/artist_data/<%= artist.id%>"><%= artist.name %></a></li>
  <% end %>
</ol>

</body>
