<body>
<h1><%= content_for(:title, "Title for specific page") %></h1>

<h1>User Page</h1>
<ul>
  <li>Name: <%= @user.display_name %></li>
  <li>Account type: <%= @user.product %></li>
  <li>Email: <%= @user.email %></li>
  <li>Could add more data here</li>
</ul>
</body>
