<head>
  <meta property="og:image" content="<%= @song.album.images.first['url'] %>" />
  <meta property="og:title" content="&quot;<%= @song.name %>&quot; Chords" />
</head>

<body>

<h1><%= @song.name %> Chords</h1>
<% @chords_per_bar.each do |chord| %>
   <%= "#{chord}\n" %><br>
<% end %>



</body>
